:root {
  /* Primary */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  ---pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  /* Neutral */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  /* Font */
  --paragraph-font-size: 16px;
  --font-family: "Ubuntu";
  --font-weight-sm: 400;
  --font-weight-md: 500;
  --font-weight-lg: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-sm);
  background-color: var(--magnolia);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}
html p {
  font-size: var(--paragraph-font-size);
  color: var(--cool-gray);
}
.form-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--white);
  width: 750px;
  min-width: 540px;
  height: 510px;
  box-shadow: rgba(0, 0, 0, 0.02) 8px 8px 5px;
  overflow: hidden;
  padding: 15px;
  border-radius: 10px;
}
.step-sidebar {
  border-radius: 8px;
}
.step-sidebar {
  background: url(../assets/images/bg-sidebar-desktop.svg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  grid-column: 1/2;
  min-width: 200px;
}
.steps {
  display: flex;
  margin: 10% 10%;
}
.step-num {
  font-size: 12px;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
  font-weight: var(--font-weight-lg);
}
.step-num.selected {
  background-color: var(--light-blue);
  color: var(--marine-blue);
  border: none;
}
.steps span {
  margin-left: 15px;
  text-transform: uppercase;
}
.steps span p:nth-child(1) {
  font-size: 12px;
  color: var(--light-gray);
}
.steps span p:nth-child(2) {
  font-size: 12px;
  color: var(--white);
  font-weight: var(--font-weight-lg);
  letter-spacing: 1.5px;
  margin-top: 5px;
}
#step-1,
#step-2,
#step-3,
#step-4,
#step-5 {
  display: none;
}
.active {
  display: block !important;
}
#step-1 ,
#step-2 ,
#step-3,
#step-4 {
  margin: 10px 25px;
}
#step-1 h1,
#step-2 h1,
#step-3 h1,
#step-4 h1 {
  font-size: 28px;
  font-weight: var(--font-weight-lg);
  color: var(--marine-blue);
  margin-bottom: 20px;
}
#step-1 .sub,
#step-2 .sub,
#step-3 .sub,
#step-4 .sub{
  font-size: 12.5px;
  color: var(--cool-gray);
  margin-bottom: 20px;
  font-weight: var(--font-weight-md);
}
#personalInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.form-panel {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 5%;
  padding-right: 8%;
  padding-left: 8%;
}
.form-panel form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#personalInfo input {
  height: 40px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--light-gray);
  margin-bottom:8px;
  color: var(--marine-blue);
  padding-left: 10px;
  font-weight: var(--font-weight-lg);
  font-family: var(--font-family);
  outline: none;
}
#personalInfo input:focus{
  border: 1px solid var(--purplish-blue);
}
#personalInfo label {
  font-size: 12px;
  color: var(--marine-blue);
  margin-bottom: 5px;
  font-weight: var(--font-weight-md);
  margin-top: 10px;
}
#personalInfo input::placeholder {
  font-size: 14px;
  color: var(--cool-gray);
  padding-left: 10px;
  font-weight: var(--font-weight-lg);
}
.plans {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
.option {
  display: block;
  border: var(--light-gray) 1px solid;
  border-radius: 6px;
  cursor: pointer;
  width: 110px;
  height: 140px;
  overflow: hidden;
}
.option-icon{
  height: 32px;
  width: 32px;
}
.option-icon img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.option input {
  display: none;
}

.option label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  padding: 15px;
  cursor:pointer;
}
.option > label > .option-info p:nth-child(1){
  color: var(--marine-blue);
  font-weight:var(--font-weight-lg);
  font-size: 14px;
  margin-bottom: 5px;
}
.option > label > .option-info p:nth-child(2){
  color: var(--cool-gray);
  font-weight:var(--font-weight-md);
  font-size: 14px;
}

.option:hover {
  background-color: #f0f0f0;
}

.option input:checked + label {
  border: 1px solid var(--purplish-blue);
}
.billing {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: var(--magnolia);
  border-radius: 5px;
  align-items: center;
  height:35px;
}
.billing label{
  font-size: 12px;
  color: var(--cool-gray);
  margin-right: 10px;
  font-weight: var(--font-weight-lg);
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.selected-billing{
  color:var(--marine-blue) !important;
}
.switch input{
  display: none;
}
.switch{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
  padding: 2px;
  margin-left: 10px;
  margin-right: 15px;
}
.switch .slider{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--marine-blue);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.switch .slider:before{
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: var(--white);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
.switch input:checked + .slider:before{
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.switch .slider.round{
  border-radius: 34px;
}
.switch .slider.round:before{
  border-radius: 50%;
}
.add-on-options{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.add-on-option{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid var(--light-gray);
  padding: 0 10px;
}
.add-on-option:hover{
  border: 1px solid var(--purplish-blue);
  background-color: var(--alabaster);
}

.add-on-option input[type="checkbox"]{
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 18px;
  border-radius: 5px;
  margin-left: 6px;
  border: 1px solid var(--light-gray);
}
.add-on-option input[type="checkbox"]:checked{
  background-color: var(--purplish-blue);
  background-image: url(../assets/images/icon-checkmark.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  border: none;

}
.selected-addon{
  border: 1px solid var(--purplish-blue) !important;
  background-color: var(--magnolia) !important;
}
.add-on-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.add-on-info label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: var(--marine-blue);
  font-weight:var(--font-weight-lg);
  font-size: 14px;
  padding-left: 18px;
}
.add-on-info > label:active{
  background-color: transparent;
}
.add-on-info label > span{
  color: var(--cool-gray);
  font-weight:var(--font-weight-md);
  font-size: 12px;
  margin-top: 5px;
}
.add-on-summary-item .add-on-price{
  color: var(--marine-blue);
  font-weight:var(--font-weight-md);
  font-size: 14px;
}
.summary{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: max-content;
  width: 100%;
  background-color: var(--magnolia);
  border-radius: 5px;
  padding: 15px;
}
.plan-summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--light-gray);
  padding-bottom: 20px;
}
#plan-type{
  display: flex;
  flex-direction: column;
  color: var(--marine-blue);
  font-weight:var(--font-weight-lg);
  font-size: 14px;
}
#change-link{
  color: var(--cool-gray);
  font-weight:var(--font-weight-md);
  font-size: 12px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-align: left;
  /* border-bottom: 2px solid var(--cool-gray); */
  text-decoration: underline;
  width: fit-content;
  margin-top: 5px;
}
#plan-price{
  color: var(--marine-blue);
  font-weight:var(--font-weight-lg);
  font-size: 14px;
}
.add-on-summary-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 100%;
  margin-bottom: 5px;
}
.add-on-type{
  color: var(--cool-gray);
  font-weight:var(--font-weight-md);
  font-size: 12px;
}
.add-on-price{
  color: var(--purplish-blue);
  font-weight:var(--font-weight-md);
  font-size: 14px;
}
.total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 0 10px;
}
.total span:nth-child(1){
  color: var(--cool-gray);
  font-weight:var(--font-weight-md);
  font-size: 12px;
}
.total span:nth-child(2){
  color: var(--purplish-blue);
  font-weight:var(--font-weight-lg);
  font-size: 16px;
}
#step-5{
  height: 100%;
  width: 100%;
}
.step-5-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}
.step-5-container h1{
  font-weight: var(--font-weight-lg);
  color: var(--marine-blue);
  margin-bottom: 20px;
}
.step-5-container p{
  color: var(--cool-gray);
  font-size: 15px;
  margin-bottom: 20px;
}
.panel-btns {
  display: grid;
  place-items: center;
  margin-top: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 21% 0 10%;
  margin-bottom: 15px;
}
.panel-btns button:nth-child(2){
  justify-self: flex-end;
}

.panel-btns button:nth-child(3){
  justify-self: flex-end;
}
.btn {
  background-color: var(--marine-blue);
  color: var(--light-gray);
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 12px;
  font-weight: var(--font-weight-lg);
  cursor: pointer;
}
.btn-prev {
  border: none;
  color: var(--cool-gray);
  background-color: transparent;
  outline: none;
  font-weight: var(--font-weight-lg);
  justify-self: flex-start;
  position: absolute;
  margin-left: 20px;
}
.btn-prev:hover {
  color: var(--marine-blue);
  cursor: pointer;
}
#confirm:hover{
  background-color:  var(--purplish-blue);
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--cool-gray);
  margin-top: 20px;
}
.error {
  border: 1px solid var(--strawberry-red) !important;
}
.error-message{
  color: var(--strawberry-red) !important;
  float: right;
  font-size: 12px;
  font-weight: var(--font-weight-lg);
}
.hidden {
  display: none;
}
.discount{
  color: var(--marine-blue);
  font-weight:var(--font-weight-md);
  font-size: 12px;
  margin-top: 5px;
}